/**
* Game of Life - JS & CSS
*/

body {
  font-family: "Times New Roman", sans-serif;
  font-size: 14px;
  color: #000000;
  background: url(universe.jpg);
}

a {
  color: blue;
}

h4 {
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 4px;
  margin-top: 30px;
}

abbr {
  border-bottom: 1px dotted #000000;
  cursor: help;
}

.cl {
  line-height: 0;
  clear: both;
}

#hint {
  background: #FFFF66;
  padding: 6px 10px;
  float: right;
}

#wrapper {
  margin: auto;
  width: 902px;
}

#title {
  font: bold 40px/40px "Arial", Gadget, sans-serif;	
  /*background: #00FFFF*/;
  letter-spacing: -2px;
  margin: auto;
  /*padding: 6px 250px 9px*/;
  text-align:center;
}

#title a {
  text-decoration: none;
  color: 	#DCDCDC;
}

/* ################################### */

canvas {
  border: 0;
 padding: 0;
 margin: 0;
}

/* ################################### */

.box {
  margin: 0 0 26px 0;
  font: 12px "Verdana", sans-serif;
  color:antiquewhite;
  float: center;
  text-align:center;
}

.box .subtitle {
  font: bold 16px "Arial", Gadget, sans-serif;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  color:antiquewhite;
  padding: 2px 4px 1px 4px;
  clear: both;
  text-align:center
}

.box .info {
  margin: 4px 0;
  text-align:center;
}

.button {
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-top: 2px solid #AAAAAA;
  border-left: 2px solid #AAAAAA;
  background: #7FFF00;
  font-size: 24px;
  line-height: 26px;
  padding: 4px 6px 5px 6px;
  margin: 10 10px 0 0;
  text-align:center;
  display: block;
  margin: auto;
  width: 32%;
}

.button a {
  text-decoration: none;
  color: #000000;
}

.button:hover {
  border-bottom: 2px solid #AAAAAA;
  border-right: 2px solid #AAAAAA;
  border-top: 2px solid #333333;
  border-left: 2px solid #333333;
  cursor: pointer;
}

.box input {
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-top: 2px solid #AAAAAA;
  border-left: 2px solid #AAAAAA;
  background: #7FFF00;
  font-size: 24px;
  line-height: 26px;
  margin: auto;

}

.box input:hover {
  border-bottom: 2px solid #AAAAAA;
  border-right: 2px solid #AAAAAA;
  border-top: 2px solid #333333;
  border-left: 2px solid #333333;
  cursor: pointer;
}

.box #exportUrl {
  font-size: 24px;
  display: none;
}

.box #exportUrl a {
  border-bottom: 2px solid #AAAAAA;
  text-decoration: none;
  color: #000000;
}

.box.layout span {
  display: inline;
  font-size: 20px;
  padding: 0 0 0 10px;
}

#footer {
  background: #DDDDDD;
  color: #222222;
  font-size: 12px;
  padding: 6px;
}

#footer a {
  text-decoration: none;
  font-weight: bold;
  color: #222222;
}
